#oneDot li button:before {
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 0.5;
    color: #D64D27;
}

#oneDot .slick-active button:before {
    font-size: 10px;
    line-height: 20px;
    position: absolute;
    top: 1px;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 1;
    color: #D64D27;
}

#onePrev, #oneNext {
  background: transparent;
  width: 40px;
}


#onePrev:before, #oneNext:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  background: url(../../assets/Arrow\ Right.svg) no-repeat center center;
  color: transparent;
}

#onePrev:before {
  background: url(../../assets/Arrow\ Left.svg) no-repeat center center;
}
